:root {
  --sidebar-color: #413D51;
  --light-color: #f1f0f5;
  --accent-color: #7d6cbe;
  --message-color2: #f6f3fb;

}

* {
  box-sizing: border-box;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
}

body,
p,
#connection {
  margin: 0;
}

input {
  flex-grow: 1;
  border: none;
  padding: 1.5rem;
}

input:focus {
  outline: none;
}

button {
  background: none;
  border: none;
  outline: none;
}

ul {
  list-style: none;
  padding: 0;
}

#header{
  display: none;
  width: 100vw;
  height: 5rem;

  position: fixed;
  top: 0;
  z-index: 1;

  background-color: var(--sidebar-color);
}

#buttonListUsers {
  margin-left: 1rem;
}

#wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.labelOnline {
  text-align: center;
  margin-bottom: 2rem;
}

#listUsers {
  background-color: var(--sidebar-color);
  color: var(--light-color);

  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;

  width: 20%;
  height: 100vh;

  padding: 1.5rem;
}

.itemUser {
  display: flex;
  align-items: center;
  flex-direction: row;

  margin-bottom: 1rem;
}

.iconUser {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--light-color);
  color: var(--sidebar-color);
  border-radius: 50%;
  font-size: 1.5rem;

  margin-top: 0;
  margin-bottom: 0;
  margin-right: 1rem;
  margin-left: 0;

  min-width: 3.5rem;
  min-height: 3.5rem;
  width: 3.5rem;
  height: 3.5rem;
}

.labelUser {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* chat */

#chat {
  position: relative;
  width: 100%;
}

#formMessage {
  display: flex;

  padding: 0.25rem;
  background: rgba(61, 40, 104, 0.15);
  backdrop-filter: blur(1rem);

  position: fixed;
  bottom: 0;
  width: 83%;
  height: 5rem;
}

#inputMessage {
  background: none;
}

#formMessage>button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-color);
}

#messages {
  margin-top: 0;
  margin-bottom: 5rem;
  margin-left: 0;
  margin-right: 0;
}

#messages>li {
  padding: 0.5rem 1rem;
}

#messages>li:nth-child(odd) {
  background: var(--message-color2);
}

.itemMessage {
  display: flex;
  flex-direction: row;
}

.userNameMessage {
  margin-right: 2rem;
  font-weight: bolder;
  color: var(--accent-color);
}

.textMessage {
  word-wrap: break-word; 
}

/* login */

#loginWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  position: fixed;
  z-index: 2;
  background: rgba(82, 68, 114, 0.397);
  backdrop-filter: blur(1rem);
}

#formLogin {
  display: flex;
  justify-content: center;
  border-radius: 1.2rem;

  width: 25rem;
  height: 5rem;

  padding: 0.5rem;
  background-color: white;
}

#inputLogin {
  border-radius: 1rem;
  width: 15rem;
  background-color: var(--light-color);
}

#login {
  border: 0;
  background: none;
  padding: 0;
  margin-left: 0.5rem;
}

/* portrait smartphones */
@media screen and (max-width:980px){
  #listUsers {
    display: NONE;
  }
  #formMessage {
    width: 100vw;
  }
  * {
    font-size: 3.7vw;
  }
  #header{
    display: flex;
  }
  #messages{
    padding-top: 5rem;
  }
  #listUsers{
    margin-top: 4.5rem;
    width: 100vw;
  }
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
  color: var(--accent-color);
  font-size: 4rem;
}