:root {
  --sidebar-color: #413D51;
  --light-color: #f1f0f5;
  --accent-color: #695aa7;

}

* {
  box-sizing: border-box;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
}

body,
p,
#messages,
#connection {
  margin: 0;
}

input {
  padding: 1.5rem;
}

input:focus {
  outline: none;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
  color: var(--accent-color);
  font-size: 60px;
}

#wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.labelOnline {
  text-align: center;
  margin-bottom: 20px;
}

#listUsers {
  background-color: var(--sidebar-color);
  color: var(--light-color);

  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;

  min-width: 100px;
  width: 20%;
  height: 100vh;

  padding: 20px;
}

#connection {
  list-style: none;
  padding: 0;
}

.itemUser {
  display: flex;
  align-items: center;
  flex-direction: row;

  margin-bottom: 10px;
}

.iconUser {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--light-color);
  color: var(--sidebar-color);
  border-radius: 50%;
  font-size: 30px;

  margin-top: 0;
  margin-bottom: 0;
  margin-right: 20px;
  margin-left: 0;

  min-width: 50px;
  min-height: 50px;
  width: 50px;
  height: 50px;
}

.labelUser {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* chat */

#chat {
  position: relative;
  width: 100%;
}

#formMessage {
  display: flex;

  padding: 0.25rem;
  background: rgba(61, 40, 104, 0.15);
  backdrop-filter: blur(10px);

  position: fixed;
  bottom: 0;
  width: 83%;
}

#inputMessage {
  flex-grow: 1;
  border: none;
  background: none;
}

#formMessage>button {
  display: flex;
  align-items: center;
  justify-content: center;

  background: none;
  border: none;
  outline: none;
  color: var(--light-color);
}

#messages {
  list-style-type: none;
  padding: 0;
}

#messages>li {
  padding: 0.5rem 1rem;
}

#messages>li:nth-child(odd) {
  background: #f6f3fb;
}

.itemMessage {
  display: flex;
  flex-direction: row;
}

.userNameMessage {
  margin-right: 20px;
  font-weight: bolder;
  color: var(--accent-color);
}

.textMessage {
  word-break: break-all;
}

/* login */

#loginWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  position: fixed;
  z-index: 1;
  background: rgba(82, 68, 114, 0.397);
  backdrop-filter: blur(10px);
}

#formLogin {
  display: flex;
  justify-content: center;
  border-radius: 25px;

  width: 400px;
  height: 100px;

  padding: 15px;
  background-color: white;
}

#inputLogin {
  flex-grow: 1;
  border-radius: 15px;
  resize: none;
  border: 2px solid var(--light-color);
  background-color: var(--light-color);
}

#login {
  border: 0;
  background: none;
  padding: 0;
  margin-left: 10px;
}